.encuesta {
    display: block;
    margin: 5px auto;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 350px;
    min-height: 20px;
}

textarea {
    min-width: 350px;
    max-width: 350px;
    height: 350px;
}

#send {
    width: 350px; /* pq chucha no es del mismo tamaño*/
    background-color: white;
    color: black;
    border: 1px solid #54c8ff;
}

#send:hover {
    background-color: #54c8ff;
    color: white;
    cursor: pointer;
}