.break {
    background-color: rgb(151, 151, 151);
}

.ayudantia {
    background-color: rgb(130, 200, 200);
}

.rojo {
    background-color: red;
}

.morado {
    background-color: rgb(170, 13, 170);
}

.soft {
    background-color: rgb(179, 179, 95);
}

.num {
    background-color: forestgreen;
}

.numm {
    background-color: rgb(42, 192, 42);
}

.extra {
    background-color: rgb(206, 245, 66);
}