.break {
    background-color: rgb(151, 151, 151);
}

.ayudantia {
    background-color: rgb(130, 200, 200);
}

.redes {
    background-color: rgb(170, 13, 170);
}

.fis {
    background-color: forestgreen;
}

.algo {
    background-color: rgb(33, 54, 241);
}

.fio {
    background-color: red;
}

.soft {
    background-color: rgb(179, 179, 95);
}

.econo {
    background-color: lightskyblue;
}

.extra {
    background-color: rgb(206, 245, 66);
}