ul {
    display: table;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

#morado::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: rgb(170, 13, 170);
    vertical-align: bottom;
}

#verde::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: forestgreen;
    vertical-align: bottom;
}

#verdeclaro::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: rgb(42, 192, 42);
    vertical-align: bottom;
}

#rojo::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: red;
    vertical-align: bottom;
}

#amarillo::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: rgb(179, 179, 95);
    vertical-align: bottom;
}

#celeste::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: lightskyblue;
    vertical-align: bottom;
}

#azul::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: rgb(74, 74, 245);
    vertical-align: bottom;
}

#ayudantia-marker::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: rgb(130, 200, 200);
    vertical-align: bottom;
}