* {
    background-color: aliceblue;
}

h1 {
    margin-bottom: 40px;
}

ul {
    display: table;
    margin: 0 auto;
}

li {
    margin-bottom: 20px;
}

li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}
